<!DOCTYPE HTML>
<html lang="fr" class="normal">

<head>
    <meta charset="utf-8">
    <title>Éditorial</title>
    <script src="../../vendors/modernizr-custom.js"></script>
    <link rel="stylesheet" href="../../vendors/reset.css">
    <link rel="stylesheet" href="../../vendors/normalize-opentype.css">
    <link rel="stylesheet" href="styles.less" type="text/less">
</head>


<body>
    <!-- PAGES -->
    <div id="pages">
      <!-- <div class="sheet">
          <div class="page">
          </div>
      </div> -->
      <!-- PAGE 1 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                  <div class="bloc t-1 l-1 r-1 b-1 damier-oracle"></div>
                  <div class="bloc l-1 y0 h8 w4 creampot"></div>
                  <div class="bloc l-1 y0 h8 r-1 plume-oracle"></div>
                  <div class="bloc l-1 y1 b-1 r-1 knuckebone-oracle"></div>

                  <div class="bloc l0 y5 w1 h3 logo-new" style="margin-left: -20pt;margin-top: 4pt;"></div>
                  <div class="bloc x0 y0 h8 w4 flow-main" style="margin-left: 85pt;margin-top: -3pt"></div>
                </div>
            </div>
        </div>
        <!-- PAGE 2 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc l6 t-1 r-1 b-1 bandeau-oracle" style="margin-left: 120pt"></div>
                    <!-- <div class="bloc l-1 y0 h8 w5 tiroir"></div>
                    <div class="bloc l-1 y0 h8 r-1 plume-lettre"></div>
                    <div class="bloc l-1 y1 h8 r-1 tapis-lettre"></div>
                    <div class="bloc l-1 y1 h8 r-1 knuckebone-lettre"></div> -->

                    <div class="bloc x0 y0 w4 b2 flow-main" style="margin-left: -12pt;"></div>
                    <div class="bloc y5 l0 r6 b0 flow-main" style="margin-top: -3pt;padding-left: 30pt; margin-left: -12pt;"></div>
                    <div class="bloc y5 r2 l4 b0 flow-main" style="margin-top: -3pt;padding-right: 20pt;margin-left: -12pt;"></div>
                    <div class="bloc x0 y6 w4 flow-main" style="margin-top: 18pt;margin-left: -12pt;"></div>
                    <div class="bloc l5 t0 b0 r1 flow-main" style="margin-top: -14pt;margin-left: 104pt;margin-right:14pt;;" ></div>
                </div>
            </div>
        </div>

    </div>


    <div id="stories">
        <article id="flow-main" data-src="../../build/html/saison-17-18/000_les-oracles.html"></article>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../../vendors/less.min.js"></script>
    <script src="../../js/stories.js"></script>
</body>

</html>
