<!DOCTYPE HTML>
<html lang="fr" class="normal facing">

<head>
    <meta charset="utf-8">
    <title>Éditorial</title>
    <script src="../../vendors/modernizr-custom.js"></script>
    <link rel="stylesheet" href="../../vendors/reset.css">
    <link rel="stylesheet" href="../../vendors/normalize-opentype.css">
    <link rel="stylesheet" href="styles.less" type="text/less">
</head>


<body>
    <!-- PAGES -->
    <div id="pages">
      <!-- PAGE 1 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc l0 y0 h15 w3 flow-git"></div>
                    <div class="bloc l6 y0 h2 w5 flow-title"></div>
                    <div class="bloc l6 y2 h12 w6 flow-infos"></div>
                </div>
            </div>
        </div>
        <!-- PAGE 2 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc l6 y0 h13 w6 flow-infos"></div>
                </div>
            </div>
        </div>

        <!-- PAGE 3 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc x3 y0 h15 w3 flow-git"></div>
                    <div class="bloc x6 y0 h15 w3 flow-git"></div>
                </div>
            </div>
        </div>

        <!-- PAGE 4 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc x3 y0 h15 w3 flow-git"></div>
                    <div class="bloc x6 y0 h15 w3 flow-git"></div>
                </div>
            </div>
        </div>

        <!-- PAGE 5 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc x3 y0 h15 w3 flow-git"></div>
                    <div class="bloc x6 y0 h15 w3 flow-git"></div>
                </div>
            </div>
        </div>

        <!-- PAGE 6 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc x3 y0 h15 w3 flow-git"></div>
                    <div class="bloc x6 y0 h15 w3 flow-git"></div>
                </div>
            </div>
        </div>

        <!-- PAGE 7 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc x3 y0 h15 w3 flow-git"></div>
                    <div class="bloc x6 y0 h15 w3 flow-git"></div>
                </div>
            </div>
        </div>

        <!-- PAGE 8 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                    <div class="bloc x0 y0 h15 w3 flow-git"></div>
                    <div class="bloc x3 y0 h15 w3 flow-git"></div>
                    <div class="bloc x6 y0 h15 w3 flow-git"></div>
                </div>
            </div>
        </div>

    </div>


    <div id="stories">
        <article id="flow-main" data-src="../../content/balsa.html"></article>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../../vendors/less.min.js"></script>
    <script src="../../js/stories.js"></script>
</body>

</html>
