<!DOCTYPE HTML>
<html lang="fr" class="normal">

<head>
    <meta charset="utf-8">
    <title>Éditorial</title>
    <script src="../../vendors/modernizr-custom.js"></script>
    <link rel="stylesheet" href="../../vendors/reset.css">
    <link rel="stylesheet" href="../../vendors/normalize-opentype.css">
    <link rel="stylesheet" href="styles.less" type="text/less">
</head>


<body>
    <!-- PAGES -->
    <div id="pages">
      <!-- PAGE 1 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                  <div class="bloc t-1 l-1 r-1 b-1 damier-sis"></div>
                  <div class="bloc l-1 y1 h8 r-1 tapis-sis"></div>
                  <div class="bloc l-1 y0 b-1 r-1 carpette-sis "></div>
                  <div class="bloc l-1 y0 b-1 r-1 chat-sis "></div>

                  <div class="bloc l0 y0 w1 h3 logo-new" style="margin-left: -20pt;margin-top: -2pt;"></div>

                    <div class="bloc l0 y0 h8 w4 flow-main" style="margin-left: 40pt" ></div>
                    <!-- <div class="bloc l5 t0 b0 flow-main" style="margin-top: -32pt;" ></div> -->

                </div>
            </div>
        </div>
        <!-- PAGE 2 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                  <div class="bloc l6 t-1 r-1 b-1 bandeau-sis" style="margin-left: 120pt"></div>

                  <div class="bloc x0 y0 h10 w4 flow-main" style="margin-top: -6pt;margin-left: -12pt;"></div>
                  <div class="bloc l5 t0 b0 r1 flow-main" style="margin-top: -14pt;margin-left: 104pt;margin-right:14pt;;" ></div>

                </div>
            </div>
        </div>

    </div>


    <div id="stories">
        <article id="flow-main" data-src="../../build/html/saison-17-18/002_sis.html"></article>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../../vendors/less.min.js"></script>
    <script src="../../js/stories.js"></script>
</body>

</html>
