<!DOCTYPE HTML>
<html lang="fr" class="normal">

<head>
    <meta charset="utf-8">
    <title>Éditorial</title>
    <script src="../../vendors/modernizr-custom.js"></script>
    <link rel="stylesheet" href="../../vendors/reset.css">
    <link rel="stylesheet" href="../../vendors/normalize-opentype.css">
    <link rel="stylesheet" href="styles.less" type="text/less">
</head>


<body>
    <!-- PAGES -->
    <div id="pages">

      <!-- <div class="sheet">
          <div class="page">
          </div>
      </div> -->
      <!-- PAGE 1 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                  <div class="bloc t-1 l-1 r-1 b-1 damier-lettre"></div>
                  <div class="bloc l-1 y0 h8 r-1 tiroir"></div>
                  <div class="bloc l-1 y0 h8 r-1 plume-lettre"></div>
                  <div class="bloc l-1 y1 h8 r-1 tapis-lettre"></div>
                  <div class="bloc l-1 y1 b-1 r-1 knuckebone-lettre"></div>
                  <!-- <div class="bloc l0 y0 h8 w5 tiroir"></div> -->

                  <div class="bloc x4 y0 w1 h3 logo-new" style="margin-left: 80pt"></div>

                    <div class="bloc x1 y0 h8 w3 flow-main" style="margin-left: -95pt;margin-top: 29pt"></div>
                    <!-- <div class="bloc l0 t6 b-1 r-1 flow-main" style="margin-top: 58pt;margin-left:170pt;" ></div> -->

                </div>
            </div>
        </div>
        <!-- PAGE 2 -->
        <div class="sheet">
            <div class="page">
                <div class="main">
                  <div class="bloc l6 t-1 r-1 b-1 bandeau-lettre" style="margin-left: 120pt"></div>
                  <!-- <div class="bloc l-1 y1 h8 r-1 tapis-sis"></div> -->
                    <div class="bloc x0 y0 h10 w4 flow-main" style="margin-top: -6pt;margin-left: -12pt;"></div>
                    <div class="bloc l5 t0 b0 r1 flow-main" style="margin-top: -14pt;margin-left: 104pt;margin-right:14pt;;" ></div>

                </div>
            </div>
        </div>

    </div>


    <div id="stories">
        <article id="flow-main" data-src="../../build/html/saison-17-18/001_lettre-volee.html"></article>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../../vendors/less.min.js"></script>
    <script src="../../js/stories.js"></script>
</body>

</html>
